{{ 'component-material-design.css' | asset_url | stylesheet_tag }}
<script src="{{ 'material-design.js' | asset_url }}" defer="defer"></script>

<div class="page-width">
  <div class="material-design__container">
    <div class="material-design__container-header"> 
      <h3 class="material-design__text--center material-design__title"> {{section.settings.material-design-title}} </h3>
      <p class="material-design__text--indent">{{section.settings.material-design-description}} </p>
    </div>

    <div class="material-design__container-multicolumn">
      <div class="container__multicolumn-item" > 
        <div class="multicolum-item__title">Delivery time</div>
        <div class="material-design__text--indent"> 
          <span>Product will be delivered on ...</>
          <p class="delivery-time__container"> 
            <span 
              class="delivery-time__days-left" 
              data-delivery-time="{{ section.settings.material-design-delivery-time }}"
            >
              {{section.settings.material-design-delivery-time}}
            </span> 
            <span class="delivery-time__days">days</span>
          </p>
        </div>
      </div>
    
    {% if section.settings.material_1 != blank %}
      <div class="container__multicolumn-item" > 
        <div class="multicolum-item__title">{{section.settings.material_1.title }}</div>
        <div class="material-design__text--indent">{{section.settings.material_1.content }}</div>
      </div>
    {% endif %}
  
    {% if section.settings.material_2  != blank %}
      <div class="container__multicolumn-item" > 
        <div class="multicolum-item__title">{{section.settings.material_2.title }}</div>
        <div class="material-design__text--indent">{{section.settings.material_2.content }}</div>
    </div>
    {% endif %}
    
    {% if section.settings.material_3 != blank %}
      <div class="container__multicolumn-item" > 
        <div class="multicolum-item__title">{{section.settings.material_3.title }}</div>
        <div class="material-design__text--indent">{{section.settings.material_3.content }}</div>
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Material Design",
    "settings": [
      {
        "type": "text",
        "label": "title",
        "id": "material-design-title"
      },{
        "type": "text",
        "label": "description",
        "id": "material-design-description"
      },{
        "type": "image_picker",
        "label": "image",
        "id": "material-design-image"
      },{
        "type": "text",
        "label": "delivery-time",
        "id": "material-design-delivery-time"
      },{
        "type": "page",
        "label": "material-1",
        "id": "material_1"
      },{
        "type": "page",
        "label": "material-2",
        "id": "material_2"
      },{
        "type": "page",
        "label": "material-3",
        "id": "material_3"
      }
    ],
    "presets": [{
    "name": "Material Design for PDP",
    "category": "Text"
  }]
  }
{% endschema %}
